APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

FILESYSTEM_DRIVER=default

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

WAS_ACCESS_KEY_ID=
WAS_SECRET_ACCESS_KEY=
WAS_DEFAULT_REGION=
WAS_BUCKET=

DOS_ACCESS_KEY_ID=
DOS_SECRET_ACCESS_KEY=
DOS_DEFAULT_REGION=
DOS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

TIMEZONE=UTC

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

STRIPE_KEY=
STRIPE_SECRET=
CASHIER_MODEL=App\Models\User
STRIPE_WEBHOOK_SECRET=
CASHIER_PAYMENT_NOTIFICATION=App\Notifications\ConfirmPayment

TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=

BACKBLAZE_ACCOUNT_ID=
BACKBLAZE_APP_KEY=
BACKBLAZE_BUCKET=
BACKBLAZE_BUCKET_ID=
BACKBLAZE_BUCKET_REGION=

VULTR_ACCESS_KEY=
VULTR_SECRET_KEY=
VULTR_REGION=
VULTR_BUCKET=
VULTR_ENDPOINT=https://ewr1.vultrobjects.com

PWA_SHORT_NAME="Sponzy"
PWA_ICON_72=public/images/icons/icon-72x72.png
PWA_ICON_96=public/images/icons/icon-96x96.png
PWA_ICON_128=public/images/icons/icon-128x128.png
PWA_ICON_144=public/images/icons/icon-144x144.png
PWA_ICON_152=public/images/icons/icon-152x152.png
PWA_ICON_384=public/images/icons/icon-384x384.png
PWA_ICON_512=public/images/icons/icon-512x512.png

PWA_SPLASH_640=public/images/icons/splash-640x1136.png
PWA_SPLASH_750=public/images/icons/splash-750x1334.png
PWA_SPLASH_1125=public/images/icons/splash-1125x2436.png
PWA_SPLASH_1242=public/images/icons/splash-1242x2208.png
PWA_SPLASH_1536=public/images/icons/splash-1536x2048.png
PWA_SPLASH_1668=public/images/icons/splash-1668x2224.png
PWA_SPLASH_2048=public/images/icons/splash-2048x2732.png
PWA_SPLASH_828=public/images/icons/splash-828x1792.png
PWA_SPLASH_1242_2=public/images/icons/splash-1242x2688.png

QUEUE_CONNECTION=database

DEFAULT_LOCALE=en

DOS_CDN=

FLW_PUBLIC_KEY=
FLW_SECRET_KEY=

PAYPAL_MODE=sandbox
PAYPAL_SANDBOX_CLIENT_ID=
PAYPAL_SANDBOX_CLIENT_SECRET=
PAYPAL_LIVE_CLIENT_ID=
PAYPAL_LIVE_CLIENT_SECRET=
PAYPAL_WEBHOOK_ID=

FFMPEG_BINARIES=
FFPROBE_BINARIES=

PUSHR_ACCESS_KEY=
PUSHR_SECRET_KEY=
PUSHR_BUCKET=
PUSHR_URL=
PUSHR_ENDPOINT=

FORCE_HTTPS=0

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

OPENPIX_APP_ID=""
OPENPIX_BASE_URI="https://api.openpix.com.br"

R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=
R2_ENDPOINT=
R2_URL=

IDRIVE_KEY=
IDRIVE_SECRET=
IDRIVE_REGION=
IDRIVE_BUCKET=
IDRIVE_ENDPOINT=